<form action="/search" method="get" class="tool-bar">
  <label for="search">Search Term</label>
  <input id="search" type="search" name="q" value="{{ request.args.get('q') or '' }}" hx-get="/contacts"
    hx-trigger="search, keyup delay:200ms changed" hx-target="tbody" />

  <input type="submit" value="Search" />
</form>

<!-- 
things user might search:
another user
playlist or music
artist
company or corporation?

do users and artist should be treated the same? i think so

-->


<!-- 

If we wanted it to create a history entry when this request happened, we would add a new attribute to the button, the hx-push-url attribute:

hx-push-url="true"

creo que deberiamos usarla para cuando eliminas a un amigo
hx-confirm="Are you sure you want to delete this contact?" (1)
-->