<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Default Title{% endblock %}</title>
  <script src="https://unpkg.com/htmx.org@2.0.0"
    integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2" />
  <script
  src="https://kit.fontawesome.com/1b04830cf2.js"
  crossorigin="anonymous"
  ></script>
</head>

<body hx-boost="true">
  {% include 'partials/header.html' %}

  <div>
    {% block content %}{% endblock %}
  </div>

  {% include 'partials/footer.html' %}
</body>

</html>