<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul class="account">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="../explorar.html">Explorar</a></li>
                    <li><a href="#">Biblioteca</a></li>
                    <li><a href="../buscar.html">Buscar</a></li>
                    <li><a href="../cuenta.html">Cuenta</a></li>
                </ul>
            </nav>
            <h1>  f</h1>
        </div>
    </header>

    <main class="container">
        <section class="library">
            <h2>Biblioteca</h2>
            <ul class="library-menu">
                <li><a href="playlists.html">Playlists</a></li>
                <li><a href="artistas.html">Artistas</a></li>
                <li><a href="albumes.html">Álbumes</a></li>
                <li><a href="canciones.html">Canciones</a></li>
                <li><a href="generos.html">Géneros</a></li>
            </ul>
        </section>
    </main>

</body>
</html>
