{% extends "app_layout.html" %}

{% block title %} Music {% endblock %}

{% block content %}
<div>

</div>
<h2>Sugerencias destacadas</h2>

<h2>Artistas que quizas conozcas</h2>

<h2>Explora algo nuevo </h2>

<h2>Anime </h2>
<section class="featured horizontal_scroll recent_likes">
    <span hx-get="/get/anime" hx-trigger="load" hx-swap="outerHTML">Loading more ...</span>
</section>

<h2>Kpop </h2>
<section class="featured horizontal_scroll recent_likes">
    <span hx-get="/get/kpop" hx-trigger="load" hx-swap="outerHTML">Loading more ...</span>
</section>

<h2>Música que le gusta a tus amigos</h2>
<section class="featured horizontal_scroll recent_likes">
    <span hx-get="/friends/recent_likes" hx-trigger="load" hx-swap="outerHTML" hx-target="this">Loading more ...</span>
</section>

{% endblock %}