{% extends "app_layout.html" %}

{% block title %} Search bar test {% endblock %}

{% block header %} 

<div>
  <form
    class="nav_bar_form"
    hx-boost="true"
    hx-get="{{ url_for('search') }}"
    hx-trigger="search, keyup from:input[type='search'] changed delay:200ms"
    hx-target="#search_table"
    hx-indicator="#spinner"
    hx-swap="innerHTML"
    >

    <select
    id="search_type"
    name="search_type"
    >
      <option value="All">All</option>
      <option value="Users">Users</option>
      <option value="Playlists">Playlists</option>
      <option value="Songs">Songs</option>
      <option value="Producer">Producers</option>
    </select>

    <!-- <input
      id="search"
      type="text"
      list="suggestions"
      id="search_text"
      name="search_text"
      required
      placeholder="Search"
    /> -->

    <input
      id="search"
      type="search"
      name="search_query"
      value="search_query"
    >
    <img id="spinner" class="htmx-indicator" src="/static/img/spinning-circles.svg" alt="Request in Flight...">

    <button type="submit" class="search_button">
      <img
        class="search_icon"
        src="{{url_for('static', filename='assets/search_icon.svg')}}"
        alt="search"
      />
    </button>
    <!-- <input type="submit" value="Search" /> -->

    </form>

  <table>
    <tbody id="search_table">
      <tr><td>rows will be added here</td></tr>
    </tbody>
  </table>


</div>


<!-- 
things user might search:
another user
playlist or music
artist
company or corporation?

do users and artist should be treated the same? i think so

-->
{% endblock %}

{% block content %}

<div class="main">
  <h2>Here will be the results</h2>
</div>

{% endblock %}
